<ion-header-bar class="bar-stable">
	<button class="button button-icon" ng-click="goPage(2)">
	   <i class="icon ion-ios-arrow-back">Back</i>
	</button>
	<h1 class="title">{{title}}</h1>
	
	<button class="button button-icon" ng-click="toggleDate()">
	  <i ng:class="(sort=='desc')?'icon ion-arrow-up-c':'icon ion-arrow-down-c'"></i>
	</button>
</ion-header-bar>

<ion-content class="has-header">
	<ion-list style="">
	 <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in details" type="item-text-wrap" ng-click="smsDetails(item.page_id)">
		<h2 style="display:inline-block;">{{item.name}}</h2>
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
	</ion-list>
</ion-content>

<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
	<form name="sendMessageForm" class="sendmessage" ng-submit="addDetail()" novalidate>
		<label class="item-input-wrapper">
			<input type="text" placeholder="Type your message" ng-model="data.message" ng-change="updateTyping()" on-return="closeKeyboard()" on-focus="inputUp()" on-blur="inputDown()" />
		</label>
		<div class="footer-btn-wrap">
			<button type="submit" class="button button-icon icon ion-ios-paperplane footer-btn"
				ng-disabled="!data.message">
			</button>
		</div>
	</form>
</ion-footer-bar>