<ion-header-bar class="bar-stable">
	<button class="button button-icon" ng-click="goPage(config.from_page_id)">
	   <i class="icon ion-ios-arrow-back">Back</i>
	</button>
	<h1 class="title">{{title}}</h1>
	<div class="buttons">
		<button class="button button-icon" ng-click="editUser()">
		  <i class="icon ion-person"></i>
		</button>
		<button class="button button-icon" ng-click="toggleDate()">
		  <i ng:class="(sort=='desc')?'icon ion-arrow-up-c':'icon ion-arrow-down-c'"></i>
		</button>
	</div>
</ion-header-bar>

<ion-content class="has-header">
	<ion-list style="">
	  <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in details" type="item-text-wrap">
		<div class="item-data" ng-click="subDetails(item)">
			<h2 style="display:inline-block;">{{item.name}}</h2>
			<i class="icon ion-chevron-right icon-accessory">
				<span class="badge badge-assertive icon-badge">{{item.active}} / {{item.unread}}</span>
			</i>
		</div>
		<item-swipe-pane class="left-pane">
			<button class="button button-calm" ng-click="editDetails(item)">
				<div class="two-line-btn">
					<ion-icon class="ion-edit"></ion-icon>
					<label>Edit</label>
				</div>
			</button>
			<button class="button button-assertive" ng-click="deleteDetails(item)">
				<div class="two-line-btn">
					<ion-icon class="ion-trash-a"></ion-icon>
					<label>Delete</label>
				</div>
			</button>
			<button class="button button-balanced" ng-click="moreDetails(item)" ng-show="isAdmin">
				<div class="two-line-btn">
					<ion-icon class="ion-more"></ion-icon>
					<label>More</label>
				</div>
			</button>
		</item-swipe-pane>
	  </ion-item>
	</ion-list>
</ion-content>

<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
	<form name="sendMessageForm" class="sendmessage" ng-submit="add_detail_sub_from_category()" novalidate>
		<label class="item-input-wrapper">
			<input type="text" placeholder="New Sub Category" ng-model="data.message" ng-change="updateTyping()" on-return="closeKeyboard()" on-focus="inputUp()" on-blur="inputDown()" />
		</label>
		<div class="footer-btn-wrap">
			<button type="submit" class="button footer-btn"
				ng-disabled="!data.message">Submit
			</button>
		</div>
	</form>
</ion-footer-bar>