# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

www/templates/messages.html
www/templates/messages.js
www/templates/message-detail.html
www/templates/message-detail.js

www/templates/sms.html
www/templates/sms.js
www/templates/sms-detail.html
www/templates/sms-detail.js

www/templates/travel.html
www/templates/travel.js
www/templates/travel-detail.html
www/templates/travel-detail.js
